:host {
  display: flex;
  padding: 3rem 3rem;
  flex-flow: row wrap;

  mat-card {
    flex-grow: 1;

  }
}


.links {
  margin-bottom: 1rem;
  a {
    margin: 0 1rem;
  }
}


.outlets {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  div {
    margin:0.5rem;
    flex: 1 0;
  }
}
