html,
body {
  height: 100vh;
  margin: 0;

  font-family: "Helvetica", sans-serif;
}

@import "~@angular/material/theming";

@mixin app-body-theme($theme){
  &, .theme-background {
    background-color: map-get(map-get($theme, background), background);
  }
}


/** configure angular meterial and activate the theme */
@include mat-core();

$default-theme: mat-light-theme(mat-palette($mat-blue), mat-palette($mat-pink), mat-palette($mat-red));
@include angular-material-theme($default-theme);

body {
  @include app-body-theme($default-theme);
}

